@{
    ViewData["Title"] = "Home Page";
}
<div id="fullpage">
    <section class="section">
        <div class="container bg lf">
            <div class="row" id="row1">
                <div class="container-fluid header">
                    <h1>BETLOG</h1>
                </div>
            </div>
            <div class="row">
                <div class="container-fluid login-form col-lg-4 col-lg-offset-4" id="row2">
                    <div class="form-group">
                        <div class="input-group " style="width:184px; margin-top:130px; ">
                            <span class="input-group-addon glyph" style="border-radius:0px"><span class="glyphicon glyphicon-log-in" style="font-size:12px"></span></span>
                            <input type="email" class="form-control" style="height:26.5px">
                        </div>
                        <p></p>
                        <div class="input-group" style="width:184px;">
                            <span class="input-group-addon glyph" style="border-radius:0px"><span class="glyphicon glyphicon-lock" style="font-size:12px"></span></span>
                            <input type="password" class="form-control" style="height:26.5px">
                        </div>
                        <button type="submit" class="btn btn-login center-block"></button>                       
                        <p style="margin-top:140px; text-align:center">                            
                            <a href="#readMore" class="RM">READ MORE</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section"  data-anchor="readMore">
        <div class="container bg rm" >
            <div class="row" >
                <div class="container-fluid" id="row3">
                    <div class="col-lg-12" style="height:inherit">
                        <button type="button" class="btn btn-up center-block" onclick="location.href='#main'"></button>
                        <div class="col-lg-6 col-md-6 col-sm-6 bg rm1"></div>
                        <div class="col-lg-6 col-md-6 col-sm-6 bg rm2"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="container-fluid" id="row4">
                    <div class="col-lg-6 col-md-6 col-sm-6 bg rm3"></div>
                    <div class="col-lg-6 col-md-6 col-sm-6 bg rm4"></div>
                </div>
            </div>
        </div>        
    </section>
</div>



