body {
    background-image: url(../images/backgroundMain.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-family: 'Russo One', sans-serif;
}

.bg {
    background-position: center;
    background-repeat: no-repeat;
    background-size: inherit;
    font-family: 'Russo One', sans-serif;
}

.bg.lf {
    height: inherit;
    background-image: url(../images/backgroundLoginForm.svg); 
    background-size: 400px;
}

.bg.rm {
    background-image: url(../images/backgroundReadMore.svg);
}
.bg.rm1{
    height:inherit;
        font-family: 'Russo One', sans-serif;
    background-image:url(../images/rm-1.svg);
    margin-bottom:200px;

}

.bg.rm2 {
    height:inherit;
    background-image: url(../images/rm-2.svg)
}

.bg.rm3{
    height:inherit;
    background-image: url(../images/rm-3.svg)
}

.bg.rm4{
    height:inherit;
    background-image: url(../images/rm-4.svg)
}



.login-form {
    justify-content: center;
    float: none;
    display: flex;
    background-image: url(../images/ring.svg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: 321px;
}

.header {
    width: 400px;
    height: inherit;
    align-items: center;
    justify-content: center;
    float: none;
    display: flex;
}

h1 {
    color: white;
    font-size: 60pt;
    margin:0 auto;
}
.RM {    
    color: rgb(153, 153, 153);
    font-size: 12pt;
}

.RM:visited{
    color: rgb(153, 153, 153);
}

.RM:hover{
    color: whitesmoke;
    font-size: 14pt;
}



.glyph{
    color:white;
    background-color:rgba(196, 196, 196, 0.5);
    border:none;
}

.form-control {
    border-radius: 0px;
    background-color: rgba(62,68,82,0.36);
    border:none;
    color:rgb(153, 153, 153);
}

.btn-login{
    border:none;
    margin-top:20px;
    background-color:rgba(0, 0, 0, 0.00);
    background-image:url(../images/submit.png);
    width:58px;
    height:24px;
    outline:none;
}

.btn-login:hover{
    background-color:rgba(30, 32, 37, 0.82);
}

.btn-login:active{    
    background-color:rgba(30, 31, 56, 0.8);
    background-image:url(../images/submit.png);
    border:none;
}

.btn-up {
    width: 67px;
    height: 65px;
    border: none;
    background-color: rgba(0, 0, 0, 0.00);
    background-image: url(../images/btnUp.png);
}

.btn-up:active {
    background-color: rgba(0, 0, 0, 0.00);
    background-image: url(../images/btnUp.png);
    border: none;
}

button {
    outline: none !important;
}





